#
# This is an StackLiteDualDrive board with a single STM32F405RG chip.
# http://www.st.com/web/catalog/tools/FM116/SC959/SS1532/PF259090
#

source [find interface/cmsis-dap.cfg]

transport select swd

# increase working area to 128KB
#set WORKAREASIZE 0x20000

source [find target/stm32f4x.cfg]

reset_config srst_only srst_nogate connect_assert_srst
reset_config none
